<div id='stats-bar-container'>
  <div id="stats-bar">
    <p class='title'>Estadísticas de la plataforma</p>
    <ul>
      <li><%= Project.count %> proyectos abiertos</li>
      <li><%= User.active.count %> usuarios registrados</li>
      <li><%= Document.count %> documentos subidos</li>
    </ul>
    <a href="#" class="close_icon">[ Ocultar ]</a>
    <a href="#" class="open_icon hide">></a>
  </div>
</div>
