body {margin: 0; padding: 0}
/* .filler {width: 100%; height: 300px; margin-bottom: 12px; background: aqua;} */
#stats-bar{ width: 100%;  background: black; color: white; padding: 6px; position: relative; bottom: 0px; left: 0px; }
#stats-bar ul { margin: 0; padding: 0; display: inline; }
#stats-bar li { float: left; list-style-type: none; margin: 0 15px 0 0; padding: 0; white-space: nowrap; }
#stats-bar .title { float: left; display: inline; margin: 0 20px 0 0; font-weight: bold; }
